{% extends "base.twig" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold text-center mb-8">
        Welcome!
    </h1>
    {% if message %}
        <div class="text-2xl text-center mb-8">
            {{ message }}
        </div>
    {% endif %}
    {% if session.auth.user %}
        <div class="flex gap-8 justify-center m-4">
            {% for user in others %}
                <div class="w-32 h-32">
                    {% set image = user.profilePic %}
                    <a href="/favorites/{{ image.id }}">
                        <img src="{{ image.resizedImageExtendedPath }}" alt="{{ image.originalName }}">
                    </a>
                    {{ user.username }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
